@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #004a99;
  --bg: #f4f4f4;
  --text: #333;
}

body {
  @apply bg-gray-50 text-gray-900 m-0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
